body{
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 2em;
}

.boutons a{
  justify-content: center;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 15px;
  margin-left: 1em;
}

.boutons{
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.name{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.name input{
  font-size: 1em;
}
