<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Création de salon</title>
    <link rel="stylesheet" href="vues/createRoom.css">
  </head>
  <body>
    <form action="/setPDF" method="POST" enctype="multipart/form-data">
      <p>
<<<<<<< HEAD:src/public/vues/createRoom.html
        <input id="parcour" type="file" name="f" accept=".pdf" required>
=======
        <input type="file" name="f" accept=".pdf" required>
        <input type="hidden" name="pseudo" value= <%= username %> >
>>>>>>> f136650d1e9cb4140a0f0fc1f4bdd4d0c6b6c99b:src/public/vues/createRoom.ejs
      </p>
      <input id="valide" type="submit" value="Valider">
    </form>
  </body>
</html>
