<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="vues/joinRoom.css">
  </head>
  <body>
    <form action="/getCode" method="POST">
      <p>
        <label for="code">Entrez le code du salon :</label>
        <input type="text" name="code" id="code" required>
        <span id="aideCode"></span>
      </p>
      <input type="submit" value="Valider">
    </form>
  </body>
</html>
