<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body class="p-3 mb-2 bg-dark">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <form action="/Param" method="POST" class="position-absolute top-50 start-50 translate-middle border btn btn-dark rounded-3 border-light p-3 mb-2 bg-dark"> 
      <p>
        <label class="btn btn-dark rounded-3 border-light" for="pseudo">Pseudo :</label>
        <input class="btn btn-dark rounded-3 border-light" type="text" name="pseudo" id="pseudo" required>
        <input type="hidden" name="code" value= <%= code %>
      </p>
      <input class="btn btn-dark rounded-3 border-light" type="submit" value ="valider">
    </form>
  </body>
</html>
