#zoneQuestion{
    background-color: slategray;
    width: 280px;
    height: 160px;
}
form{
    display: flex;
    flex-direction: column;
}
#sujet{
    margin: auto;
    margin-bottom: 5px;
}
textarea{
    margin: auto;
    margin-bottom: 5px;

}
button{
    margin: auto;
}