<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Presentateur</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
</head>
<body>
    <button id="prev" class="moveBtn">Previous</button>
    <button id="next" class="moveBtn">Next</button>

    <input id="pageInput" type="number">
    <button id="go" class="moveBtn">Go</button>
    <button id="clear">clear</button>
    <p id="room">code = <%= salon%></p>
    <p id="username">username = <%= username%></p>
    <div id="pdf" hidden="true" value="<%= pdf%>"></div>
    <br>

    <canvas id="viewer" style='border : 1px solid #000'></canvas>

    <script type="module" src="renderPres.js"></script>
    <script type="module" src="annotPres.js"></script>
</body>
</html>