<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Presentateur</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
</head>
<body>
    <button id="prev">Previous</button>
    <button id="next">Next</button>

    <input id="pageInput" type="number">
    <button id="go">Go</button>
    <p id="room">code = <%= salon%></p>
    <p id="username">username = <%= username%></p>
    <br>

    <canvas id="viewer"></canvas>

    <script type="module" src="salonProf.js"></script>
</body>
</html>