<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quizzProf.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <title>Quizz - Enseignant</title>
</head>
<body>
    <section>
        <div>
            <p>Questions prêtes : </p>
            <ul id="questions">
                
            </ul>
        </div>
        <div>
            <p>Nouvelle question :</p>
            <p>Intitulé : <input type="text" id="nom_question" required></p>
            <ol id="choix">
            </ol>
            <button id="add" onclick=ajouterReponse()>Ajouter proposition</button>
            <button onclick=creerQuestion() id="creer">Créer nouvelle question</button>
        </div>
    </section>
    <script type="module" src="quizzProf.js"></script>
</body>
</html>