#iframe section{
    display: flex;
    flex-direction: row;
}

#iframe section div{
    border: solid 2px black;
}

#iframe ul{
    list-style: disc;
    margin-right: 10px;
}

#iframe ul button{
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 0;
}

#iframe section div:last-child{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#iframe div > p:last-of-type{
    margin-left: 0.5em;
    margin-right: 1em;
}

#iframe ol{
    counter-reset: list;
    padding-left: 10px;
}

#iframe div ol > li{
    list-style: none;
    margin-bottom: 5px;
}

#iframe div ol > li::before{
    content: counter(list, upper-alpha) ") ";
    counter-increment: list;
}

#iframe div > button:first-of-type{
    background-color: cyan; 
}

#iframe div > button:last-of-type{
    background-color: red;
}

#iframe div > button{
    padding: 10px;
    border: solid 2px black;
    margin: 3px;
}