<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question posée</title>
</head>
<body>
    <div class="card text-center start-50 top-50 translate-middle position-absolute">
        <p id="room" hidden><%= salon%></p>
        <div class="card-header">
            Question
        </div>
        <div class="card-body">
            <div id="IntituleQuestion" class="mb-3">
            </div>
            <div id="elementsreponses">
            </div>
        </div>
    </div>
    <script type="module" src="quizzEleve.js"></script>
</body>
</html>